<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
    
    <%= link_to "SportsTime", root_path, class: "py-2", id: "logos" %>
    <a class="py-2 d-none d-md-inline-block" href="#">About Us</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Contact Us</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
    <a class="py-2 d-none d-md-inline-block" href="#">I'm a Coach</a>    
    <a class="py-2 d-none d-md-inline-block" href="#">Sign Up</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Sign In</a>
    
    </div>
</nav>

